html, button{
    font-family:monospace;
}

h1{
    font-size: 32px;
    font-weight: 500;
}

.container {
    width: 1100px;
    margin: auto;
    text-align: center;
}

g.map > path {
    fill: none;
    stroke: #ccc;
}

g.bubbles > circle {
    fill: rgba(30, 80, 100, 0.8);
}

button, label{
    font-size:16px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    outline:none;
    border:none;
}

.btn_type{
    margin-top: 6px;
}

.activeBlue, .btn_map:hover{
    background-color: rgb(52, 74, 99);
    color:rgb(255, 255, 255);
}

.activeRed, .btn_type:hover{
    background-color: rgb(230, 153, 109);
    color:rgb(255, 255, 255);
}
